h2 {
    color: #012A4A;
}

body {
    background-color: #EDF2F4;
    color: #012A4A;
}

.button {
    padding: 7px;
    background-color: #012A4A;
    border-radius: 15px;
    color: white;
    padding-left: 14px;
    padding-right: 14px;
}
.button:hover {
    background-color: red;
}

.login {
    border: 2px solid midnightblue;
    padding: 10px;
    border-radius: 5px;
    margin: 200px;
    font-size: 25px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 13px;
    overflow: hidden;
}
li a {
    display: inline;
    text-decoration: none;
    text-align: center;
}
li {
    float: right;
}
a.home {
    display: block;
    padding: 8px;
    color:  #012A4A;;
    font-size: 20px;
}

a.home:hover {
    color: red;
}

.signup {
    border: 2px solid #012A4A;
    padding: 10px;
    border-radius: 5px;
    margin: 70px;
    font-size: 20px;
}
hr {
    border: 1px solid #012A4A;
}

.home_image {
    width: 700px;
    float: left;
    margin-right: 70px;
    height: 500px;
    border-radius: 20px;
}

.catch_phrase {
   font-size: 3pc;
   text-align: center;
   padding-top: 100px;
}
.image_container {
    overflow: hidden;
}

.busyman {
    width: 750px;
    float: right;
}

.second {
    overflow: hidden;
}
.second h1 {
    font-size: 3pc;
    text-align: center;
    padding-top: 100px;
}

.appname {
    font-size: 2.5pc;
    color: #012A4A;
}

.task_bar {
    padding: 20px;
    margin-left: 400px;
    width: 450px;
    background-color: #B6C9D5;
    border: 1px solid  black;
    border-radius: 10px;
    font-size: 1.2pc;
}

.add {
    padding: 20px;
    margin: 0;
    background-color: midnightblue;
    border-radius: 10px;
    font-size: 1.2pc;
    color:  #B6C9D5;
}
  
  input[type="checkbox"] + label {
    cursor: pointer;
  }
  
  input[type="checkbox"]:checked + label {
    color: red;
  }

.task-list {
    text-align: center;
    padding: 50px;
    margin-right: 500px;
}
  