{% extends 'base.html' %}

{% block content %}
<h1>Welcome {{user.username}}</h1>

        <form action="" method="post" class="task_form">
          {% csrf_token %}
          {{form.as_p }}
          <button type="submit" class="add">Add</button>
        </form>
    
    <div class="task-list">
      {% for task in object_list %}
      <div class="task">
        <input type="checkbox" id="task{{ task.id }}" name="task{{ task.id }}">
        <label for="task{{ task.id }}" style="font-size: 2pc;">{{ task.task_name }}</label>
      </div>
      {% endfor %}
    </div>
    
{% endblock content %}